{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <h2>Listado de Productos</h2>
        <span class="badge badge-pill badge-info">Cantidad de productos: {{pagination.getTotalItemCount}}</span>
        <nav class="navbar navbar-light bg-faded">
            <a class="btn btn-success" href="{{ path('product_new') }}">Crear producto</a>
        </nav>            
        <table class="table table-hover table-bordered">
            <thead class="">
                <tr>
                    <th scope="col">{{knp_pagination_sortable(pagination, 'Id', 'p.id')}}</th>
                    <th scope="col">{{knp_pagination_sortable(pagination, 'Código', 'p.code')}}</th>
                    <th scope="col">{{knp_pagination_sortable(pagination, 'Nombre', 'p.name')}}</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Marca</th>
                    <th scope="col">{{knp_pagination_sortable(pagination, 'Precio', 'p.price')}}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for product in pagination %}
                <tr>
                    <th scope="row"><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></th>
                    <td>{{ product.code }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.brand }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('product_show', { 'id': product.id }) }}">Ver</a>
                        <a class="btn btn-secondary" href="{{ path('product_edit', { 'id': product.id }) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
