{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <h2>Listado de Categor&iacute;as</h2>
        <nav class="navbar navbar-light bg-faded">
            <a class="btn btn-success" href="{{ path('category_new') }}">Crear categor&iacute;a</a>
        </nav> 
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">{{knp_pagination_sortable(pagination, 'Id', 'c.id')}}</th>
                    <th scope="col">{{knp_pagination_sortable(pagination, 'Código', 'c.code')}}</th>
                    <th scope="col">{{knp_pagination_sortable(pagination, 'Nombre', 'c.name')}}</th>
                    <th scope="col">Descripci&oacute;n</th>
                    <th scope="col">{{knp_pagination_sortable(pagination, 'Activo', 'c.active')}}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for category in pagination %}
                <tr>
                    <th scope="row"><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></th>
                    <td>{{ category.code }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>{% if category.active %}<span class="badge badge-success">Si</span>{% else %}<span class="badge badge-danger">No</span>{% endif %}</td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('category_show', { 'id': category.id }) }}">Ver</a>
                        <a class="btn btn-secondary" href="{{ path('category_edit', { 'id': category.id }) }}">Editar</a>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
